<div class="temp-container">
    <div class="left">
        <button (click)="useSample()" mat-raised-button color="primary">
            <mat-icon>check</mat-icon> Use sample
        </button>
        <textarea #markDownArea="ngModel" [(ngModel)]="currentMarkDown" rows="50" cols="100"></textarea>

    </div>
    <div>
        <app-md-viewer [markdownContent]="currentMarkDown"></app-md-viewer>
    </div>
</div>


<span class="done">
    <button mat-fab (click)="useSample()">
        <mat-icon>check circle</mat-icon>
    </button>
</span>