@import '~@angular/material/theming';
// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin app-theme-test($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    .top-line {
        background-color: mat-color($accent);
    }
    .hashtag {
        color: mat-color($accent);
    }
}