@import '_variables';
$soft-white: transparentize(#fff, 0.2);
$softer-white: transparentize(#fff, 0.4);
$search-height:50px;
:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
        display: flex;
        flex-direction: column;
        .top-line {
            width: 100%;
            height: 8px;
        }
        .title {
            font-weight: $fontWeight-light;
            font-size: 0.9em;
            .hashtag {
                font-size: 1.2em;
                font-weight: $fontWeight-bold;
            }
        }
        .search-container {
            transition: height 0.3s;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 0;
            overflow: hidden;
            &.show {
                height: $search-height;
            }
            input {
                flex: 1;
                background: transparent;
                border: transparent !important;
                font-weight: 200;
                font-size: 1em;
                padding: 0;
                margin: 0;
                outline: none;
                box-shadow: none;
            }
            .clear,
            .search-icon {
                width: 50px;
                text-align: center;
            }
            .search-icon {
                height: 24px;
            }
        }
    }
}