@import '_variables';
.blockquote-container {
    border-left-width: $borderWidth-lg;
    border-left-style: solid;
    padding: 8px 16px;
    color: $gray-500;
    font-weight: $fontWeight-light;
    background-color:$gray-100;
}